html,
body {
  overflow: hidden;
}

:root {
  --font-main:
    'HarmonyOS Sans SC', MiSans, 'Sarasa UI SC', 'PingFang SC', 'Noto Sans CJK SC',
    'Noto Sans S Chinese', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif, 'JetBrains Mono';
  --font-monospace:
    'JetBrains Mono', 'Sarasa Term SC', 'Iosevka', 'Fira Code', 'Source Code Pro', monospace;

  --global-background: light-dark(white, #121212);
  --global-ease: cubic-bezier(0.19, 1, 0.22, 1);
  --global-fast-ease: cubic-bezier(0, 1, 0, 1);

  --e-duet-text-color: light-dark(var(--p-lime-600), var(--p-lime-400));
  --e-duet-hover-background: light-dark(
    color-mix(in srgb, var(--p-lime-100), transparent 50%),
    color-mix(in srgb, var(--p-lime-400), transparent 90%)
  );
  --e-duet-active-background: color-mix(in srgb, var(--p-lime-400), transparent 80%);

  --e-bg-text-color: light-dark(var(--p-blue-500), var(--p-blue-400));
  --e-bg-hover-background: light-dark(
    color-mix(in srgb, var(--p-blue-50), transparent 30%),
    color-mix(in srgb, var(--p-blue-400), transparent 90%)
  );
  --e-bg-active-background: color-mix(in srgb, var(--p-blue-400), transparent 80%);

  user-select: none;
  color: var(--p-text-color);
  background-color: var(--global-background);
}

:root,
input,
textarea {
  font-family: var(--font-main);
  line-height: 1.4;
}

.monospace {
  font-family: var(--font-monospace);
}

a[href] {
  text-decoration: none;
}

hr {
  margin: 0;
  border: none;
  border-top: solid 1px var(--p-form-field-border-color);
}

::selection {
  background-color: color-mix(in srgb, var(--p-primary-400), transparent 55%);
}

.timeinput.timeinput,
.durationinput input {
  font-family: var(--font-monospace);
  width: 9ch;
  box-sizing: content-box;
}

.durationinput input {
  text-align: right;
}

.hflex {
  display: flex;
  flex-direction: row;
}
.vflex {
  display: flex;
  flex-direction: column;
}
.kvgrid {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-items: stretch;
  row-gap: 0.3rem;
  column-gap: 0.5rem;
  &:has(.p-checkbox):has(label) {
    column-gap: 0;
    label {
      padding-left: 0.5rem;
    }
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation: none !important;
    transition: none !important;
  }
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 12px;
  height: 12px;
  &:hover {
    background: transparent;
  }
  &-track {
    background: transparent;
    &:hover {
      background: transparent;
    }
  }
  &-corner {
    background: transparent;
    &:hover {
      background: transparent;
    }
  }
  &-thumb {
    border: solid transparent 4px;
    box-shadow:
      inset 0 0 0 1px rgba(128, 128, 128, 0.15),
      inset 0 0 0 6px rgba(128, 128, 128, 0.25);
    border-radius: 8px;
    background: transparent;
  }
}

.p-dialog.thin-padding {
  --p-overlay-modal-padding: 0.6rem;
  --p-dialog-header-padding: 0.5rem 0.3rem 0.2rem 0.9rem;
  --p-dialog-content-padding: 0 0.8rem 0.8rem;
}
.p-dialog-header:active {
  cursor: move;
}

.v-popper--theme-tooltip .v-popper__inner.v-popper__inner {
  background: color-mix(in srgb, var(--global-background), transparent 10%);
  border: 1px solid var(--p-form-field-border-color);
  color: var(--p-text-color);
  border-radius: 6px;
  padding: 0.4rem 0.6rem;
  font-size: 0.9rem;
  box-shadow: 0 0.5rem 1rem #0002;
  backdrop-filter: blur(5px);
  max-width: 12em;
  box-sizing: content-box;
  .tooltip-hotkey {
    opacity: 0.6;
    font-size: 0.8rem;
  }
  &:has(.tooltip-headline) {
    padding: 0.6rem 0.75rem;
  }
  .tooltip-headline {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 0.35rem;
    border-bottom: 1px solid var(--p-form-field-border-color);
    margin-bottom: 0.35rem;
  }
  .tooltip-title {
    font-weight: bold;
    font-size: 1rem;
  }
  .tooltip-desc {
    opacity: 0.8;
  }
}
.v-popper--theme-tooltip .v-popper__arrow-outer {
  border-color: #000c;
  display: none;
}

.p-inputtext {
  --hlt-animation-bg: color-mix(in srgb, var(--p-primary-color), transparent 50%);
  --hlt-animation-color: var(--p-primary-color);
  &[data-highlight] {
    @keyframes inputHighlight {
      from {
        background-color: var(--hlt-animation-bg);
        border-color: var(--hlt-animation-color);
      }
    }
    @keyframes inputLabelHighlight {
      from {
        color: var(--hlt-animation-color);
        background: transparent;
      }
    }
    animation: inputHighlight 2s;
    & + label {
      animation: inputLabelHighlight 2s;
    }
  }
}

.fade {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.2s;
  }
  &-enter-from,
  &-leave-to {
    opacity: 0;
  }
}

.p-color {
  &-danger {
    color: var(--p-button-danger-background);
  }
  &-success {
    color: var(--p-button-success-background);
  }
  &-warn {
    color: var(--p-button-warn-background);
  }
  &-info {
    color: var(--p-button-info-background);
  }
}
