:root:root {
  --p-border-radius-md: 5px;
  --p-border-radius-lg: 6px;
  --p-border-radius-xl: 6px;
  --p-select-checkmark-gutter-start: -0.2rem;
}
.p-select-option-blank-icon {
  margin-left: 0.175rem;
}

html,
body {
  overflow: hidden;
}

:root {
  --font-main:
    'HarmonyOS Sans SC', MiSans, 'Sarasa UI SC', 'PingFang SC', 'Noto Sans CJK SC',
    'Noto Sans S Chinese', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif, 'JetBrains Mono';
  --font-monospace:
    'JetBrains Mono', 'Sarasa Term SC', 'Iosevka', 'Fira Code', 'Source Code Pro', monospace;
  user-select: none;
  color: var(--p-text-color);
  --global-background: light-dark(white, #121212);
  background-color: var(--global-background);
}

:root,
input {
  font-family: var(--font-main);
  line-height: 1.4;
}

::selection {
  background-color: color-mix(in srgb, var(--p-primary-400), transparent 55%);
}

.monospace {
  font-family: var(--font-monospace);
}
.timeinput.timeinput,
.durationinput input {
  font-family: var(--font-monospace);
  width: 9ch;
  box-sizing: content-box;
}

.durationinput input {
  text-align: right;
}

.hflex {
  display: flex;
  flex-direction: row;
}
.vflex {
  display: flex;
  flex-direction: column;
}

.p-contextmenu.p-contextmenu {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.1s;
  }
}

.p-inputgroupaddon {
  z-index: 1;
  &:has(.p-button:focus-visible) {
    outline: var(--p-button-focus-ring-width) var(--p-button-focus-ring-style)
      var(--p-button-secondary-focus-ring-color);
    outline-offset: var(--p-button-focus-ring-offset);

    box-shadow: var(--p-button-secondary-focus-ring-shadow);
  }
}

.p-slider-handle {
  box-shadow: 0 0 0 2px inset var(--p-slider-handle-background) !important;
  background-color: var(--p-slider-handle-content-background) !important;
  &::before {
    content: unset !important;
  }
  &:active,
  :root:has(&:active) * {
    cursor: grabbing;
  }
}

.p-radiobutton-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: unset !important;
  width: unset !important;
  transform: scale(0.1) !important;
  .p-radiobutton-checked .p-radiobutton-box & {
    transform: scale(calc(var(--p-radiobutton-icon-size) / var(--p-radiobutton-width))) !important;
  }
}

.p-toast-message-icon:empty {
  display: none;
}
.p-toast.p-toast-top-right {
  top: 4.5rem !important;
}
.p-toast-message.p-toast-message {
  &-enter-active {
    animation: pe-animate-toast-message-enter 300ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  &-leave-active {
    animation: pe-animate-toast-leave 800ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: 800ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  &-leave-to .p-toast-message-content {
    padding: var(--p-toast-content-padding);
  }
  @keyframes pe-animate-toast-message-enter {
    from {
      opacity: 0;
      transform: scale(0.93);
    }
  }
  @keyframes pe-animate-toast-leave {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      margin-bottom: calc(var(--p-toast-content-padding) * -2);
      grid-template-rows: 0fr;
    }
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
}

.kvgrid {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-items: stretch;
  row-gap: 0.3rem;
  column-gap: 0.5rem;
  &:has(.p-checkbox):has(label) {
    column-gap: 0;
    label {
      padding-left: 0.5rem;
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation: none !important;
    transition: none !important;
  }
}

::-webkit-scrollbar-track {
  background: transparent;
  &:hover {
    background: transparent;
  }
}

::-webkit-scrollbar-corner {
  background: transparent;
  &:hover {
    background: transparent;
  }
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  border: solid transparent 4px;
  box-shadow:
    inset 0 0 0 1px rgba(128, 128, 128, 0.15),
    inset 0 0 0 6px rgba(128, 128, 128, 0.25);
  border-radius: 8px;
  background: transparent;

  &:hover {
    background: transparent;
  }
}

a[href] {
  text-decoration: none;
}

hr {
  margin: 0;
  border: none;
  border-top: solid 1px var(--p-form-field-border-color);
}

.p-dialog.thin-padding {
  --p-overlay-modal-padding: 0.6rem;
  --p-dialog-header-padding: 0.5rem 0.3rem 0.2rem 0.9rem;
  --p-dialog-content-padding: 0 0.8rem 0.8rem;
}
.p-dialog-header:active {
  cursor: move;
}

:root {
  --e-duet-text-color: light-dark(var(--p-lime-600), var(--p-lime-400));
  --e-duet-hover-background: light-dark(
    color-mix(in srgb, var(--p-lime-100), transparent 50%),
    color-mix(in srgb, var(--p-lime-400), transparent 90%)
  );
  --e-duet-active-background: color-mix(in srgb, var(--p-lime-400), transparent 80%);

  --e-bg-text-color: light-dark(var(--p-blue-500), var(--p-blue-400));
  --e-bg-hover-background: light-dark(
    color-mix(in srgb, var(--p-blue-50), transparent 30%),
    color-mix(in srgb, var(--p-blue-400), transparent 90%)
  );
  --e-bg-active-background: color-mix(in srgb, var(--p-blue-400), transparent 80%);
}

.v-popper--theme-tooltip .v-popper__inner {
  background: color-mix(in srgb, var(--global-background), transparent 10%);
  border: 1px solid var(--p-form-field-border-color);
  color: var(--p-text-color);
  border-radius: 6px;
  padding: 0.4rem 0.6rem;
  font-size: 0.9rem;
  box-shadow: 0 0.5rem 1rem #0002;
  backdrop-filter: blur(5px);
  max-width: 12em;
  box-sizing: content-box;
  .tooltip-hotkey {
    opacity: 0.6;
    font-size: 0.8rem;
  }
  &:has(.tooltip-headline) {
    padding: 0.6rem 0.75rem;
  }
  .tooltip-headline {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 0.35rem;
    border-bottom: 1px solid var(--p-form-field-border-color);
    margin-bottom: 0.35rem;
  }
  .tooltip-title {
    font-weight: bold;
    font-size: 1rem;
  }
  .tooltip-desc {
    opacity: 0.8;
  }
}
.v-popper--theme-tooltip .v-popper__arrow-outer {
  border-color: #000c;
  display: none;
}

.p-inputtext {
  --hlt-animation-bg: color-mix(in srgb, var(--p-primary-color), transparent 50%);
  --hlt-animation-color: var(--p-primary-color);
  &[data-highlight] {
    @keyframes inputHighlight {
      from {
        background-color: var(--hlt-animation-bg);
        border-color: var(--hlt-animation-color);
      }
    }
    @keyframes inputLabelHighlight {
      from {
        color: var(--hlt-animation-color);
        background: transparent;
      }
    }
    animation: inputHighlight 2s;
    & + label {
      animation: inputLabelHighlight 2s;
    }
  }
}
